/* GENERAL */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

main{
    flex-grow: 1;
}

a{
    text-decoration: none;
    color: black;
}

section:last-child{
    margin-bottom: 30px;
}

/* HEADER */

header{
    height: 120px;
    width: 100%;
    background-color: #FFC0CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.header_lien_gauche img{
    height: 120px;
    /* Traite l'image comme un bloc pour retirer l'espace bas.*/
    display: block;
}

.header_liens_central ul, .header_liens_droite ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_liens_central{
    height: 120px;
    width: 80%;
}

.header_liens_droite{
    height: 120px;
    width: 20%;
}

/* MAIN */

    /* Classes réutilisables */
    
    .bouton_2{
        color: black;
        background-color:#4CAF50;
        border-radius: 2px;
        border: solid 1px black;
        font-size: 14px;
    }

    .bouton_3{
        display: block;
        padding: 0 10px;
        background-color: rgb(240, 240, 240);
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto;
        border-radius: 2px;
        border: solid 1px black;
        font-size: 14px;
    }

    .bloc-type-1{
        padding: 20px;
        min-width: 20%;
        max-width: 50%;
        max-height: 100%;
        background-color: #FFC0CB;
        border: solid 1px black;
    }

    .bloc-type-2{
        padding: 20px;
        min-width: 20%;
        max-width: 50%;
        max-height: 100%;
        background-color: #FFC0CB;
        border: solid 1px black;
    }

    #section-formulaire-type-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulaire-type-1{
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #FFC0CB;
        border-radius: 10px;
        border: solid 1px black;
    }

    .formulaire-type-1 ul{
        padding: 0;
        list-style: none;
    }

    .formulaire-type-1 ul li{
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .formulaire-type-1 ul li:last-child{
        margin-bottom: 0;
    }

    .formulaire-type-1 label, .formulaire-type-1 input{
        display: block;
    }

    .formulaire-type-1 input, .formulaire-type-1 input{
        width: 100%;
        box-sizing: border-box;
    }

    /* Accueil.php */

    #section_decouvrez{
        height: 726px;
        background: url('../img/fond/personnages_mangas.jpg')center/cover no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    #section_decouvrez h2{
        color: white;
        font-size: 55px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        -webkit-text-stroke: 2px black;
        /*contour de texte : https://kinsta.com/fr/blog/contour-texte-css/*/
    }

    .bouton_1{
        display: block;
        width: 120px;
        height: 50px;
        background-color: #FFC0CB;
        font-size: 20px;
        margin: 0 auto;
        line-height: 50px;
        text-align: center;
        border-radius: 25px;
        border: solid 1px black;
    }

    /* Parametres.php */

    #section-parametres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-parametres h2{
        margin: 0;
        margin-bottom: 10px;
    }

    #section-parametres h3{
        margin: 0;
        margin-bottom: 20px;
    }

    #section-parametres p{
        margin: 0;
        margin-bottom: 5px;
    }

    #section-parametres p:last-child{
        margin-bottom: 0;
    }

    /* Contact.php */

    #section-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #section-contact h2{
        margin: 0;
    }

    #section-contact ul:last-child{
        margin-bottom: 0;
    }

    /* Livraison.php */

    #section-livraison{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-livraison h2{
        margin: 0;
    }
 
    #section-livraison ul:last-child{
        margin-bottom: 0;
    }

    /* QuiSommesNous.php */

    #section-QuiSommesNous{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-QuiSommesNous h2{
        margin: 0;
    }
 
    #section-QuiSommesNous ul:last-child{
        margin-bottom: 0;
    }

    /* Ventes.php */

    #section-ventes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-ventes h2{
        margin: 0;
    }
 
    #section-ventes ul:last-child{
        margin-bottom: 0;
    }

/* FOOTER */

footer{
    height: auto;
    background-color: #FFC0CB;
}

.footer_lien_superieur ul, .footer_lien_central ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_lien_superieur li{
    border-right: 1px solid black;
    padding: 0 10px;
}

.footer_lien_superieur li:last-child{
    border-right: none;
}

.footer_lien_central a{
    padding: 0 10px;
}

.footer_lien_inferieur{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer_lien_inferieur li{
    padding: 0 10px;
}

.footer-separateur{
    width: 30%;
    border-top: 1px solid black;
    margin: 10px auto;
}